.video-card-template {
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: transparent !important;
  padding: 0 8px 40px 8px;
  @media (min-width: 540px) {
    width: 50%;
  }
  @media (min-width: 992px) {
    width: 33.33333%;
  }

  .ant-card-body {
    padding: 0;

    .video-image {
      img {
        width: 100%;
        height: auto;
        border-radius: 12px;
      }
    }
  }

  .video-info {
    display: flex;

    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin: 6.5px 12px 0 0;
    }

    p {
      color: white;
      font-family: "Roboto", "Arial", sans-serif;
      line-height: 22px;
      font-size: 16px;
      font-weight: 500;
      overflow: hidden;
      margin-top: 6.5px;
    }
  }
}
