.site-wrapper {
  display: flex;

  // flex-wrap: wrap;
  .routes-wraper {
    &.dark {
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 16px;
      background-color: #0f0f0f;
    }

    &.light {
      flex-grow: 1;
      flex-basis: 0;
      padding: 0 16px;
      background-color: white;
    }
  }
}
