.item {
    overflow-x: auto;
    height: calc(100vh - 103px);
    padding: 0px 16px;

    .grid-container {
        display: grid;
        column-gap: 16px;
        row-gap: 58px;
        grid-template-columns: auto auto auto auto auto auto;
        .grid-item{
            width: 390px;
        }
    }

    &.dark {
        background-color: #212121;

        .ant-card {
            background-color: #303030;
            border-color: #303030;

            .ant-card-body {
                div {
                    color: #fff;
                }
            }
        }
    }

    &.light {
        .ant-card {
            border-color: #afa9a9;
        }
    }
}