.scrol-bar {
  height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: #212121;
  .ant-menu {
    &.is-sidebar {
      .ant-menu-title-content {
        margin-left: 24px;
      }

      img {
        border-radius: 50%;
      }
      
    }

    &.is-sidebar2 {
      img {
        border-radius: 50%;
      }
    }

    li{
      border-radius: 0;
    }
    .ant-menu-item-group-title{
      font-weight: bold;
    }
  }

  &.dark{
    .ant-menu {
      &.is-sidebar {
        background-color: #212121;
        color: #fff;
        .ant-menu-title-content {
          color: white;
        }
      }
  
      &.is-sidebar2 {
        background-color: #212121;
        color: #fff;
      }
      .ant-menu-item-group-title{
        color: #AAA;
      }
  
      .ant-menu-item-selected{
        background-color: #303030;
      }
  
      .ant-menu-item-divider{
        border-color: #303030;
      }
    }
  }

  &.light{
    .ant-menu {
      &.is-sidebar {
        color: black;
        .ant-menu-title-content {
          color: black;
        }

        path{
          fill: black;
        }
      }
  
      &.is-sidebar2 {
        color: black;

        path{
          fill: black;
        }
      }
      .ant-menu-item-group-title{
        color: #AAA;
      }
  
      .ant-menu-item-selected{
        background-color: #afa9a9;
      }
  
      .ant-menu-item-divider{
        border-color: #afa9a9;
      }
    }
  }
}