.comment-card-template {
  background-color: transparent;
  border: none;
  padding-bottom: 16px;

  .ant-card-body {
    padding: 0;
    display: flex;

    .photo {
      padding-right: 16px;

      img {
        width: 40px;
        height: auto;
        border-radius: 50%;
      }
    }

    .comment-info {
      color: #f1f1f1;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;

      span {
        color: #aaa;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        white-space: pre-wrap;
      }

      .like-dislike-button {
        display: flex;
        align-items: center;
        padding-top: 4px;

        .like-button {
          padding: 0;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          padding-right: 8px;
        }

        .dislike-button {
          padding: 0;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
        }

        p {
          padding-left: 16px;
          color: #f1f1f1;
        }
      }
    }
  }
}
